.navBar {
  display: flex;
  align-items: center;
  gap: 1.5em;
  
  & > ul { 
    margin: 0;
    display: none;
  }
  
  @media (min-width: 768px) {
    justify-content: flex-start;
    
    & > ul { 
      width: 100%;
      display: flex;
    }
  }
}

.logo {
  height: 2em;
  cursor: pointer;
}

.hamburger {
  margin-left: auto;
  height: 1em;
  cursor: pointer;
  @media (min-width: 768px) {
      display: none;
  }
}

